* {
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

header.fixed {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    transform: translate(0, -200px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}

header.fixed nav a,
header.fixed .logo a {
    color: #333;
}

.fixed {
    animation: smoothScroll 1s forwards;
    opacity: 1 !important;
    z-index: 300;
    background-color: white;
    visibility: inherit !important;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.navbar {
    transition: 0.3s;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 110px;
    padding: 0 4.5em;
    animation: 1s ease 0s normal both 1 running fixedmenu;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.logo {
    margin-top: -3px;
    width: 170px;
}

.menu-list {
    z-index: 2 !important;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.menu-list .dropdown {
    font: 600 14px/30px "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0px 5px;
    color: black;
    padding: 40px 5px;
}

.menu-list li a {
    color: black;
    text-decoration: none;
}

.menu-list>li>a:after {
    font-family: FontAwesome;
    content: "\f107 ";
    margin-left: 5px;
    vertical-align: top;
    padding-right: 3px;
}

.menu-list>li>a:hover:after {
    font-family: FontAwesome;
    content: "\f106 ";
    margin-left: 5px;
    padding-right: 3px;
}

.dropdown-toggle::after {
    border: none;
}

.icons-span {
    display: flex;
    flex-direction: row;
    position: relative;
}

.icons-span .dropdown-menu {
    position: absolute;
    top: inherit;
    left: inherit;
    right: 0px;
}

.icons-span i {
    font-size: 24px;
    margin-right: 10px;
    transition: 0.5s;
    padding: 43px 0px;

}



.icons-span i:hover {
    cursor: pointer;
    color: #bb393d;
    transform: scale(1.2);
    transform: rotateY(180deg);
}

.user img {
    border-radius: 50%;
    width: 63px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.user p {
    text-align: center;
    margin: 0.5em 0 0 0;
}

.user .dropdown-item i {}

.user i {
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: 20px;
}

#lblCartCount {
    position: absolute;
    right: 0px;
    top: 40px;
    font-weight: lighter;
    font-size: 12px;
    background: #bb393d;
    color: #fff;
    padding: 1px 4px;
    vertical-align: top;
}

.badge {
    padding-left: 19px;
    padding-right: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
}



.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    border-top: 3px solid #bb393d !important;
    margin: 0;
    animation-name: example;
    animation-duration: 1s;
}


.dropdown-menu a {
    background: rgba(0, 0, 0, 0);
    text-transform: capitalize;
    font: 400 13px/18px "Muli", Helvetica, sans-serif;
}

.shopping-cart {
    width: 310px;
    padding: 10px 15px;

}

.shopping-cart span:first-child {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    display: inline-block;
}

.shopping-cart p {
    font-family: Muli;
    line-height: 24px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #666;
    margin: 0;
}

.cart-list {
    display: flex;
    width: 260px;
    max-height: 100px;
    justify-content: space-around;
}

.cart-product {

    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-img {
    width: 70px;
    max-height: 100px;
}

.cart-img img {
    object-fit: cover;
    width: 70px;
    height: 100px;
}

.cart-name {
    width: 105px;
}

.cart-name a {
    color: #666;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 18px;

    text-decoration: none;
    text-align: left;
    font-weight: 500;
    cursor: inherit;
}

.cart-name a:hover {
    color: black;

}

.cart-number {
    display: flex;
    flex-direction: column;
    color: #666;
    font-size: 13px;
    font-family: Muli;
    line-height: 24px;
    text-decoration: none;
    text-align: left;
    font-weight: 500;
}

.cart-price {
    color: #666;
    font-size: 13px;
    font-family: Muli;
    line-height: 24px;
    text-decoration: none;
    text-align: left;
    font-weight: 500;
}

.cart-remove i {
    font-size: inherit;
    margin-right: 0px;
    padding: 0px 0px;
}

.cart-total-price {
    display: flex;
    flex-direction: column;
}

.sub-total,
.total {
    font-family: Muli;
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 13px;
    font-weight: 500;
}

.shopping-cart .text-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart .text-right .btn {
    background: #111111;
    border: 1px solid #111111;
    color: #fff;
    width: 48%;
    float: left;
    border-radius: 40px;
}

.shopping-cart .text-right .btn strong {
    font-weight: 400;
}

.shopping-cart .text-right .btn:hover {
    background: #00706d;
    border: 1px solid #00706d;
}


.sub-total b,
.total b {
    font: 400 14px/20px "Oswald", Helvetica, sans-serif;
    color: #000;
    text-align: right;
}


li.cart-product {
    max-height: 400px;
    overflow-y: auto;
    float: left;
    width: 100%;
    min-height: 50px;
    overflow-x: visible;
}

.menu-icons {
    display: contents;
}

.collapse-btn {
    display: none;
}


.carousel-margin {
    width: 90.05%;
}

.content {
    text-align: center;
    margin-top: 5em;
}

.carousel-margin::after {
    position: absolute;
    left: -90px;
    right: auto;
    top: 10%;
    bottom: auto;
    margin: auto;
    content: "";
    background: url(../img/block-bg-shape.png) no-repeat;
    height: 926px;
    width: 564px;
    background-size: contain;
    z-index: 1;
}

.carousel-margin::before {
    position: absolute;
    right: 0px;
    left: auto;
    top: auto;
    margin: auto;
    content: "";
    background: url(../img/block-bg-shape-02.png) no-repeat;
    opacity: 0.4;
    height: 636px;
    width: 641px;
    background-size: contain;
    z-index: -1;
}

.dishes-container {
    margin: 0 5%;
}

.bos {
    font: 400 78px/60px "Great Vibes", Helvetica, sans-serif;
    color: #00706d;
    z-index: -1;
}

.content-heading h3 {
    color: #111;
    float: left;
    font: 500 40px/40px "Oswald", Helvetica, sans-serif;
    margin: 0 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 0 0 45px;
    background: url(../img/logo/separator.png) no-repeat scroll bottom center;
    background-color: #fff;
}

.content-tabs {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}

.content-tabs-ul {

    list-style: none;
    border: medium none;
    display: -webkit-inline-box;
    float: none;
    margin: 16px 0 30px;
    text-align: center;
    vertical-align: top;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-tabs-ul .top {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.content-tabs-ul .bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.content-tabs-ul li a {
    background: none;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 25px !important;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    color: #222;
    font: 600 16px/17px "Muli", Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    outline: medium none;
    padding: 10px 20px;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 1em;

}

.content-tabs-ul li.active a {
    color: white;
    background-color: #00706d;

}

.content-tabs-ul li {
    z-index: 2;
}

.content-tabs-ul li a:hover {
    background-color: #00706d;
    color: white !important;
}

.product-layouts {
    padding: 0 15px;
    position: relative;
}

.product-thumb {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.product-thumb .image {
    position: relative;
    overflow: hidden;
}

.product-thumb .image a {
    display: block;
    position: relative;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}

.product-thumb .image img.image_thumb_swap {
    left: 0;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.product-thumb .btn-quickview {
    background: #222;
    border: medium none;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    bottom: 0;
    height: 42px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    padding: 0 15px;
    width: 140px;
    float: left;
}

.product-thumb .btn-quickview i {
    background: rgba(0, 0, 0, 0) url(../img/product-sprite.png) no-repeat scroll -45px -126px;
    font-size: 0;
    height: 42px;
    vertical-align: top;
    width: 20px;
}

.product-thumb h4 a {
    color: #444;
    font: 600 15px/20px "Muli", Helvetica, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes example2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.custom-card {
    border: none;
    width: 299px;
    height: 504px;
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 2;
    transform: scale(0.95);
}

.custom-card img {
    object-fit: cover;
    height: 389px;
}

.custom-card .img-top {
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 99;
    transition: 0.5s;
    animation-name: example2;
    animation-duration: 0.5s;

}

.custom-card:hover .img-top {
    text-align: center;
    visibility: inherit;
    transform: scale(1);
    animation-name: example;
    animation-duration: 0.5s;
}

#news-slider10 {
    display: flex;
    justify-content: center;
}

#news-slider10 .owl-stage-outer {
    max-width: 1198px;
}

.card-img-btn {
    position: absolute;
    top: 170px;
    left: 75px;
    z-index: 100;
    background-color: #222222;
    color: white;
    border-radius: 50px;
    font: lighter 15px/17px "Muli", Helvetica, sans-serif;
    padding: 12px 26px;
    display: none;
}



.card-img-btn:hover {
    background-color: #00706d;
    color: white;
}

.custom-card:hover .card-img-btn {
    display: inherit;
}

.card-text a {
    text-decoration: none;
}

.custom-card h4 {
    font: 700 16px/20px "Muli", Helvetica, sans-serif;
    text-transform: capitalize;
    color: #444444;
    margin-top: 1em;
}

.price {
    color: #00706d;
    font: 500 16px/18px "Oswald", Helvetica, sans-serif;
    float: left;
    width: 100%;
    margin: 5px 0 0;
}

.price .price-old {
    color: #666;
    font: 500 14px/14px "Oswald", Helvetica, sans-serif;
    text-decoration: line-through;
    margin-left: 5px;
}

.price .price-tax {
    color: #666;
    font-size: 13px;
    display: none;
    margin: 5px 0 0;
    font-family: Muli;
    font-weight: 500;
}

.button-group {
    float: left;
    padding: 10px 0 0;
    width: 100%;
    transition: 0.5s;
}

.btn-wishlist {
    background-color: #222222;
    border-radius: 50%;
    height: 42px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform-origin: right;
    transform: rotateY(90deg);
}

.btn-wishlist:hover {
    background-color: #00706d;
}

.btn-wishlist:hover i.fa-heart {
    color: white;
}

.btn-wishlist i.fa-heart {
    font-size: 15px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.btn-cart {
    background-color: #222222;
    border-radius: 50px;
    height: 41px
}

.btn-cart:hover {
    background-color: #00706d;
}

.btn-cart i.fa-shopping-cart {
    font-size: 18px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    text-align: center;
    display: none;
}

.btn-cart:hover i.fa-shopping-cart {
    color: white;
    text-shadow: none;
}

.btn-cart span {
    color: #FEFEFE;
    font: 100 13px "Muli", Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-right: 4px;

}

.btn-cart span::before {
    color: #fff;
    content: "+";
    font-size: 13px;
    font-weight: normal;
    padding: 0 5px;

}

.btn-compare {
    background-color: #222222;
    border-radius: 50px;
    height: 41px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform-origin: left;
    transform: rotateY(90deg);
}

.btn-compare:hover {
    background-color: #00706d;
}

.btn-compare i.fa-bar-chart {
    font-size: 12px;
    color: white;

}

.custom-card:hover .btn-wishlist {
    transform: rotateY(0deg);
}

.custom-card:hover .btn-compare {
    transform: rotateY(0deg);
}

.post-slide10 {
    padding-bottom: 10px;
    position: relative;
    background: #fff !important;
    margin-bottom: 2em
}

.top-categories {
    float: left;
    position: relative;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 7em;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: #00706d;
    height: 520px;
}

.top-categories::before {
    position: absolute;
    left: -90px;
    right: auto;
    top: 10%;
    bottom: 0;
    margin: auto;
    content: "";
    background: url(../img/block-bg-shape.png) no-repeat;
    z-index: 1;
    height: 736px;
    width: 564px;
    background-size: contain;
}

.top-categories::after {
    background: url(../img/cms-bg-pattern.png) repeat-x scroll center bottom;
    background-size: auto;
    bottom: 0px;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 0;
}

.category-text {
    padding: 116px 0;
    z-index: 1;
}

.category-title {
    color: #ffbd0a;
    font: 400 78px/60px "Great Vibes", Helvetica, sans-serif;

    z-index: -1;
}

.category-heading {
    color: white;
    float: left;
    font: 500 40px/40px "Oswald", Helvetica, sans-serif;
    margin: 0 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.category-subheading {
    color: #ccc;
    margin: 0 0 30px;
    width: 100%;
    text-align: center;
    font: 400 14px/24px "Muli", Helvetica, sans-serif;
}

.category-button .btn {
    border: none;
    background-color: #00706d;
    float: none;
    width: auto;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    background: #ffbd0a;
    padding: 12px 35px;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: top;
    font: 600 15px/20px "Muli", Helvetica, sans-serif;
    color: #111;

}

.categories-product-carousel {
    padding-top: 86px;

}

.categories-product-carousel img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.category-gallery .owl-item img {
    -webkit-box-shadow: 3px 8px 9px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 8px 9px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 8px 9px -8px rgba(0, 0, 0, 0.75);
}

.category-gallery .owl-item:hover img {
    transform: scale(1.05);
}

/* Circle */
.category-gallery figure {
    position: relative;
}

.category-gallery figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.category-gallery figure:hover::before {
    -webkit-animation: circle .5s;
    animation: circle .5s;
}

.promotion-container {
    margin-top: 5em;
    position: relative;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.promotion-container div {
    max-width: 630px;
}

.promotion-container div:last-child {
    max-width: 424px;
}

.promotion-container img {
    padding-left: 1em;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.promotion-container img:last-child {
    padding-left: 1em;
    width: 100%;
    object-fit: cover;
}

.map-container {
    margin-top: 5em;
    margin-bottom: 5em;
    position: relative;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.map {
    width: 100%;
    height: 400px;
}

/* Setting section */

.setting-container {
    margin-left: 5%;
    margin-right: 5%;
}

.breadcrumb {
    justify-content: space-between;
    margin-bottom: 2em;
}

.breadcrumb p {
    margin: 0px;
    font: 700 16px/28px "Muli", Helvetica, sans-serif;
    text-transform: capitalize;
}

.breadcrumb span {
    display: flex;
}

.breadcrumb span li a {
    text-decoration: none;
    color: #00706d;
}

.setting-list {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e5e5e5;
}

.setting-list-heading {
    background: #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 10px;
}

.setting-list-heading h2 {
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #222;
}

.setting-list-content {
    padding: 8px;
    font-size: 13px;
    line-height: 22px;
}

.setting-list-content ul li a {
    color: #666;
    text-decoration: none;
}

.setting-list-content ul li a:hover {
    color: #000;
}

/* Account */

.account-container {
    padding-left: 5%;
    padding-right: 5%;
}

#account {
    min-height: 450px;
    margin-top: 2em;
}

#account .form-horizontal fieldset legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    padding: 7px 0px;

}

#new-address-form span,
#password-change-form span,
#account-edit-form span {
    color: red;
    font-size: 13px;
    text-transform: capitalize;
    font-style: italic;
}

.form-group {
    margin-bottom: 15px;
}

.form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
}

div.required .control-label::before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

.form-horizontal .form-group {
    display: flex;
}

.form-group .control-label {
    font-size: 13px;
    color: #666666;
}

.form-control {
    background: #fff;
    color: #414141;
    border: 1px solid #e5e5e5;
    margin: 0 0 5px;
    height: 42px;
}

.btn-default {
    background: #ED242C;
    border-color: transparent;
    color: #fff;
    text-transform: capitalize;
    padding: 8px 15px;
    font: 500 14px/22px "Muli", Helvetica, sans-serif;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    letter-spacing: 1px;
}

.btn-default:hover {
    background: #000;
    color: white;
}

.form-horizontal .btn-primary,
#address .btn-primary {
    background: #000;
    border-color: transparent;
    color: #fff;
    padding: 8px 15px;
    font: 500 14px/22px "Muli", Helvetica, sans-serif;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
}

.form-horizontal .btn-primary:hover,
#address .btn-primary:hover {
    background: #ED242C;

}

/* password */

.password-container {
    padding-left: 5%;
    padding-right: 5%;
}

#password-setting {
    min-height: 450px;
    margin-top: 2em;
}

#password-setting .form-horizontal fieldset legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    padding: 7px 0px;

}

/* address */

.address-container {
    padding-left: 5%;
    padding-right: 5%;
}

#address {
    min-height: 450px;
    margin-top: 2em;
}

#address .table-responsive p {
    margin: 0 0 10px;
    color: #666;
}

#address .btn-info {
    color: #fff;
    background-color: #000;
    border-color: #000;
    padding: 9px 12px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
}

#address .btn-danger {
    color: #ffffff;
    background-color: #da4f49;
    text-transform: uppercase;
    padding: 10px 12px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
}

/* Wishlist */

.wishlist-container {
    padding-left: 5%;
    padding-right: 5%;
}

#wishlist {
    min-height: 450px;
    margin-top: 2em;
}

#wishlist .text-left a {
    text-decoration: none;
    color: #333;
}

#wishlist .text-left a:hover {
    color: black;
}

#wishlist .btn-primary {
    background: #000;
    border-color: transparent;
    color: #fff;
    padding: 8px 15px;
    font: 500 14px/22px "Muli", Helvetica, sans-serif;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
}

#wishlist .btn-danger {
    color: #ffffff;
    background-color: #da4f49;
    text-transform: uppercase;
    padding: 7px 12px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
}

#wishlist .btn-primary:hover {
    background: #da4f49;
    color: white;
}

/* Orders Section */

.order-container {
    margin-left: 5%;
    margin-right: 5%;
}

#orders-table .btn-primary {
    border-radius: 20px;
    background-color: black;
    border: none;
}

#orders-table .btn-primary:hover {
    background-color: #00706d;
}

.page-link {
    color: #00706d;
}

.page-link:hover {
    color: #333;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #00706d;
    border-color: #00706d;
}

/* My Cart Section */

.cart-container {
    margin-left: 5%;
    margin-right: 5%;
}

.cart-container #content {
    margin: 0 0 50px;
}

#content {
    min-height: 650px;
}

.table.table-bordered {
    border-color: #e9e9e9;
}

.cart-container .table.table-bordered thead {
    color: #666;
    font-family: 'Muli', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
}

.cart-container .table.table-bordered tbody tr td {
    background: #fff;
    color: #444;
    font-family: "Muli", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    vertical-align: middle;
    border: 1px solid #ebebeb;
    color: #222;
}

.cart-container .table.table-bordered tbody tr td .img-thumbnail {
    max-width: 75px;
    border: none;
    object-fit: cover;
    height: 100px;
}

.cart-container .table.table-bordered tbody tr td.text-left a {
    font-family: "Muli", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #444444;
    text-decoration: none;
}

.cart-container .table.table-bordered tbody tr td .cart_input_block.input-group {
    display: inline-block;
    width: auto;
}

.cart-container .table.table-bordered tbody tr td .input-group .form-control {
    width: auto;
    min-width: 50px;
    float: left;
    text-align: center;
}

.cart-container .table.table-bordered tbody tr td .input-group .input-group-btn {
    display: table;
    float: left;
}

.cart-container .table.table-bordered tbody tr td .input-group .input-group-btn button {
    height: 42px;
    width: 45px;
    border-radius: 0;
}

.cart-container .table.table-bordered tbody tr td .input-group .input-group-btn button.btn-primary {
    background-color: black;
    border: black;
}

.cart-container .table.table-bordered tbody tr td .input-group .input-group-btn button.btn-danger {
    background-color: #C9302C;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 40px;
}

.cart-container .table.table-bordered tbody tr td.text-right,
.cart-container .table.table-bordered tbody tr td.text-right {
    color: #282828;
    font: 400 16px/18px "Oswald", Helvetica, sans-serif;
}

.checkout {
    font-size: 14px;
    text-transform: capitalize;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 30px;
}

.checkout:hover {
    background-color: #00706d;
    border-color: #00706d;
}

/* Checkout */

.checkout-container {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 450px;
}

.panel-group {
    width: 100%;
}

.panel {
    min-height: 40px;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    padding: 12px 15px;
    padding-bottom: 0;
    margin-top: 5px;
}

.panel-body {
    background-color: white;
    padding: 15px;
    border: 1px solid #E5E5E5;
}

.panel-heading .panel-title a {
    font-family: "Muli", Helvetica, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #333;
    background-color: #f5f5f5;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

/* Transaction */

.transaction-container {
    margin-left: 5%;
    margin-right: 5%;
}

/* Newsletter */

.newsletter-container {
    margin-left: 5%;
    margin-right: 5%;
}

.radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.radio-wrapper {
    background: url(https://demo.templatetrip.com/Opencart/OPC07/OPC202_tomato/OPC04/catalog/view/theme/OPC202_04/stylesheet/TemplateTrip/images/input-sprite.png) repeat scroll 0 -243px;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.radio-wrapper input {
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
}

/* Footer and newsletter */

.newsletter {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5em;
    background-color: #00706d;
    min-height: 130px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    padding: 0 3em;
}

.newsletter .newsletter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter .newsletter-text h3 {
    font: 500 30px/32px "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
}

.newsletter .newsletter-text h3 i {
    margin-right: 10px;
    font-size: 34px;
}

.newsletter .newsletter-text p {
    margin: 0;
    font: 400 15px/22px "Muli", Helvetica, sans-serif;
}

#subscribe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

#subscribe_email {
    float: right;
    border: none;
    color: #111;
    padding: 5px 135px 5px 15px;
    width: 100%;
    font: 500 13px/22px "Muli", Helvetica, sans-serif;
    background: #fff none repeat scroll 0 0;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    height: 50px;
    max-width: 560px;
    letter-spacing: 1px;
}

#subscribe .btn {
    background: #111;
    color: #fff;
    font: 600 14px/20px "Muli", Helvetica, sans-serif;
    height: 40px;
    overflow: hidden;
    padding: 10px 25px;
    position: absolute;
    right: 5px;
    top: 45px;
    border: none;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
}

#subscribe .btn {
    text-transform: capitalize;
}

#subscribe .btn .fa-paper-plane {
    display: none;
}

#footer {
    padding: 60px 0em;
    background: #111111 !important;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#footer::before {
    position: absolute;
    left: -130px;
    right: auto;
    top: -200px;
    bottom: auto;
    margin: auto;
    content: "";
    background: url(../img/block-bg-shape-02.png) no-repeat;
    height: 636px;
    width: 564px;
    z-index: -1;
}

#footer .container .row:first-child {
    margin-bottom: 2em;
}

#footer .container .row:last-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


#footer h5 {
    color: #ccc;
    cursor: pointer;
    font: 500 18px/22px "Oswald", Helvetica, sans-serif;
    margin: 0 0 20px;
    text-transform: uppercase;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer .quick-links a {
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    font: 400 13px/24px "Muli", Helvetica, sans-serif;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
}

#footer .quick-links a::before {
    left: -2px;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
    font-family: "FontAwesome";
    content: "\f111";
    font-size: 6px;
    color: white;
    position: absolute;
    font-weight: 300;
}

#footer .quick-links a:hover,
#footer .quick-links a:focus,
#footer .quick-links #footer a:hover::before,
#footer .quick-links a:focus::before {
    color: #ffbd0a !important;
}

#footer .quick-links a:hover {
    left: 15px;
    opacity: 1 !important;
    -moz-opacity: 1 !important;
    -khtml-opacity: 1 !important;
    -webkit-opacity: 1 !important;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
}

#footer::after {
    background: url(../img/cms-bg-pattern.png) repeat scroll 0 0;
    background-size: auto;
    bottom: auto;
    content: "";
    height: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%;
    transition: all 400ms ease-in-out;
    max-width: 100%;
}


@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }

}

@keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@media only screen and (max-width: 1400px) {
    .carousel-margin::after {
        height: 660px;
    }
}

@media only screen and (min-width: 1162px) {
    .menu-list.collapse {
        display: flex;
    }

}

@media only screen and (max-width: 1161px) {

    main {
        margin-top: 3.7em;
    }

    .logo-div {
        width: 100%;
        text-align: center;
    }

    .navbar {
        -webkit-box-shadow: none;
        padding: 0 0;

    }

    .menu-icons {
        margin-top: 10px;
        width: 100%;
        display: inline-block;
        height: 50px !important;
        background-color: #00706d !important;
        margin-left: 5%;
        margin-right: 5%;
    }

    .icons {
        position: absolute;
        right: 6%;
        float: right;
    }

    .icons-span i {
        padding: 0px;
    }

    #lblCartCount {
        top: 6px;
    }


    .menu-list {

        position: relative;
        width: 100%;
        border: 1px solid #e5e5e5;
        float: left;
        flex-direction: column;
        padding: 1em 0.5em;
        background-color: white;
    }

    .menu-list .dropdown {
        font: 100 16px/30px "Oswald", Helvetica, sans-serif;
        text-transform: capitalize;
        color: black;
        padding: 0;
    }

    .collapse-btn {
        display: block;
    }

    .dropdown {
        margin-top: 0;
        height: auto;
        padding: 12px 0px;
    }

    .menu-list>li>a:after {
        font-family: FontAwesome;
        content: "\f067  ";
        margin-left: 5px;
        vertical-align: top;
        padding-right: 3px;
        float: right;
    }

    .menu-list>li>a:hover:after {
        font-family: FontAwesome;
        content: "\f067  ";
        margin-left: 5px;
        padding-right: 3px;
    }


    .dropdown-menu {
        position: inherit;
        top: 0;
        left: 0;
        z-index: 0;
        float: none;
        border: none;
        border-top: 3px solid;
        border-radius: 0;

    }

    .carousel-margin {
        width: 95%;
        padding: 0;
        margin-left: 5%;
        padding-right: 5%;
    }

    .fixed {
        animation: none;
        opacity: 0 !important;
        z-index: inherit;
        background-color: white;
        visibility: hidden !important;
    }

    .icons-span .dropdown-menu {
        position: absolute;
        top: 50px;
    }
}

@media only screen and (max-width: 1199px) {
    .bos {
        font-size: 70px;
    }

    .content-heading h3 {
        font-size: 34px;
        line-height: 38px;

    }

    .category-title {
        font-size: 50px;
        line-height: 40px;
    }

    .carousel-margin::after {
        height: 606px;
    }

    .carousel-margin::before {
        right: 0;
        width: 454px;
        height: 500px;
    }

}

@media only screen and (max-width: 767px) {

    .bos {
        font-size: 52px;
        line-height: 40px;
    }

    .content-heading h3 {
        font-size: 24px;
        line-height: 20px;
    }

    .category-text {
        padding: 50px 2em !important;
    }

    .top-categories {
        height: auto;
    }

    .categories-product-carousel {
        padding-top: 0px;
    }


    .carousel-margin::before {
        width: 354px;
        height: 420px;
    }

    #subscribe {
        width: 400px;
    }
}

@media only screen and (max-width: 991px) {

    .content-heading h3 {
        font-size: 32px;
        margin: 0 0 10px;
    }

    .post-slide10 {
        margin: 0 0px
    }

    .category-heading,
    .content-heading h3 {
        font-size: 32px;
        margin: 0 0 10px;
    }

    .carousel-margin::after {
        height: 536px;
        width: 385px;
    }

    .newsletter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1.5em 3em;
    }

    .newsletter .newsletter-text h3 {
        font-size: 24px;
    }

    .newsletter .newsletter-text h3 i {
        font-size: 30px;
    }

    #subscribe {
        margin-top: 0.5em;
    }

    #subscribe .btn {

        top: 5px;
    }
}

@media only screen and (max-width: 980px) {
    .content-tabs-ul {
        flex-direction: row;
    }

    .content-tabs-ul li {
        margin-bottom: 1.5em;
    }

    .content-tabs-ul .top {
        flex-direction: column;
    }

    .content-tabs-ul .bottom {
        flex-direction: column;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-margin::after {
        height: 380px;
        left: -40px;
        top: 10px;
        width: 250px;
    }
}

@media only screen and (max-width: 543px) {
    .carousel-margin::before {
        width: 224px;
        height: 320px;
    }

    .promotion-container {
        flex-direction: column;
    }

    .promotion-container div {
        max-width: 100%;
    }

    .promotion-container div:last-child {
        max-width: 100%;
    }

    .promotion-container img {
        margin-left: 0;
        margin-top: 1em;
    }

    .promotion-container img:last-child {}

}

@media only screen and (max-width: 481px) {
    .content-tabs-ul {
        display: inherit !important;
    }

    .content-tabs-ul .top {
        margin-bottom: 0;
    }

    .content-tabs-ul li a {
        min-width: 20px;
        padding: 7px 80px;
    }

    .content-tabs-ul li {}

    #subscribe {
        width: 250px;
    }

    #subscribe .btn .fa-paper-plane {
        display: inherit;
    }

    #subscribe .btn span {
        display: none;
    }

    #subscribe_email {
        padding: 5px 96px 5px 15px;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}

@media only screen and (max-width: 600px) {

    .logo {
        width: 130px;
    }


    main {
        margin-top: 2.0em;
    }

    .content-tabs-ul li a {
        font-size: 13px;
        margin-right: 0;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 1000px) {

    .custom-card {
        width: 220px;
    }

    .custom-card img {
        height: 286px;
    }

    .btn-cart span {
        display: none;
    }

    .btn-cart i.fa-shopping-cart {
        display: inline-block;
    }

    .btn-wishlist {
        transform: rotateY(0deg);
    }

    .btn-compare {
        transform: rotateY(0deg);
    }


    .card-img-btn {
        top: 25%;
        left: 35px;

    }
}

@media (min-width: 1450px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width: 481px) {

    .categories-product-carousel img {
        width: 170px !important;
    }

    .custom-card {
        width: 299px;
    }

    .custom-card img {
        width: 299px;
        height: 386px;
    }

    .card-img-btn {
        top: 33%;
        left: 68px;
    }

    .carousel2 {
        margin-left: 3.5em;
    }

    .breadcrumb {
        flex-direction: column;
        align-items: center;
    }

    #footer::before {
        display: none;
    }

    .carousel-margin::before {
        display: none;
    }

    .carousel-margin::afteR {
        display: none;
    }
}
